<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        function req() {
            $.ajax({
                type:'GET',
                url:'http://localhost:8082/cors/test',
                success:function (result) {
                    console.log(result);
                }
            });
        }
    </script>
</head>
<body>
    <h1>hello!这是8081客户端</h1>
    点击请求8082服务<button onclick="req()">点击</button>
</body>


</html>